    <!-- portfolio -->
    <div id="portfolio" class="portfolio_page">
        <div class="container">
              <!-- header -->
              <h2 class="section_header left">
                  <span>
                      {{ gallery.title }}
                  </span>
                  <hr class="right visible-desktop">
              </h2>
              <!-- list -->
              <div class="row">
                  <div class="span12">
                      <ul class="thumbnails">
                        {% for photo in gallery.sample %}
                        <li class="span4">
                          <div class="thumbnail">
                            <div class="pic">
                              <a href="#">
                                <img class="pic" src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}">
                                <img class="see_more" src="/static/img/thumb_more.png" />
                              </a>
                            </div>
                            <h3>{{ photo.title }}</h3>
                            <p>{{ gallery.description }}</p>
                          </div>
                        </li> 
                        {% endfor %}                       
                      </ul>
                  </div>
              </div>
        </div>
    </div>