div#base_content{
    width: 940px;
    margin:25px auto;
}
p {    
    font-family:'Didact Gothic','Lato',Arial, sans-serif !important;
    line-height: 20px;
    font-size: 14px;
}
p a{
    color: #005286; 
    text-decoration:underline;
} 
p a:hover,p a:visited{
    color: #005580; 
    text-decoration:none;
}
h1 {
    margin:10px;
}
ul{
    list-style-type:disc;
}
ul > ul{
    list-style-type:circle;
}
ul > ul >ul{
    list-style-type:square;
}
img{
    margin:10px;
}
div.contact_us label{
    color:#fff;
}
#footer span{
    color:#fff !important;
}
p.required label:before{
    content:"* ";
    color:red;
}
tr.required label:before{
    content:"* ";
    color:red;
}
ul.errorlist li{
    color:red;
}
form input{
    width:350px;
}
div.contact_us form input{
    width:220px;
}
div.contact_us form input{
    width:auto;
}
.footer_link {
    color:#fff;
}
.footer_link:hover {
    color:#CCC;
}

ul.cssMenu ul                       
{ 
    display:none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
}
ul.cssMenu li:hover > ul            
{ 
    display:block;
}