 <div class="span8">
    <h3><a class="footer_link" href="/blog">Новости сервиса 1С-облака</a></h3>
    <div class="blog_post">
        <div class="row">
            {% if last.image %}
             <div class="span2">
                <a href="{{ last.get_absolute_url }}">
                    <img src="{{ last.image.url }}" alt="post image" class="img-circle" />
                </a>
            </div>   
            {% endif %}
            <div class="span4">
                <a href="{{ last.get_absolute_url }}" class="title">
                   {{ last.title }}
                </a>
                    {{ last.excerpt|safe}}
                <div class="date">
                    {{ last.pub_date }}
                </div>
            </div>
        </div>
    </div>
</div>