{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css">
{% endblock head %}

{% block base_content %}
<div id="blog_wrapper">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Новости сервиса 1С-облака
                        <hr>
                    </h1>
                    {% load pagination_tags %}
                    {% autopaginate latest 15 %}
                    {% for news in latest %}
                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                {% if news.image %}
                                <a href="{{ news.get_absolute_url }}">
                                    <img class="main_pic" alt="main pic" src="{{ news.image.url }}" />
                                </a>
                                {% endif %}
                            </div>
                            <div class="span4 info">
                                <a href="{{ news.get_absolute_url }}">
                                    <h3>{{ news.title }}</h3>
                                </a>
                                <p>{{news.excerpt|safe}}</p>
                                <div class="post_info">
                                    <div class="date">
                                        {{ news.pub_date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ news.get_absolute_url }}" class="btn">more</a>
                    </div>
                    {% endfor %}
                    <div class="pagination">
                        {% paginate %}
                    </div>

                </div>

                <div class="span3 sidebar offset1">
                    <h4 class="sidebar_header">
                        Последние новости
                    </h4>

                    <ul class="recent_posts">
                        {% for news in latest|slice:'3' %}
                        <li>
                            <div class="row">
                                <div class="span1">
                                    {% if news.image %}
                                    <a href="{{ news.get_absolute_url }}">
                                        <img class="thumb" alt="thumb post" src="{{ news.image.url }}" />
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="span2">
                                    <a class="link" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                                </div>
                            </div>
                        </li>
                       {% endfor %} 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock base_content %}    