{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css">
{% endblock head %}
{% block base_content %}
    <div id="blog_wrapper" class="blog_post">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        {{ object.title }}
                    </h1>
                    {% if object.image %}
                        <img class="main_pic" alt="main pic" src="{{ object.image.url }}" />
                    {% endif %}
                   <div class="post_content">
                        <p>
                            {{ object.content|safe }}
                        </p>
                        <div class="date">{{ object.pub_date }}</div>
                    </div>

               </div>
            </div>
        </div>
    </div>
{% endblock base_content %}