<!--<form class="well form-horizontal" method="POST" action="/add_question/">
    {% csrf_token %} 
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <div class="control-group">
        <label class="control-label">Имя:</label> 
        <div class="controls">
            <input type="text" name="name" class="input-large" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail:</label> 
        <div class="controls">
            <input type="text" name="email" class="input-large" placeholder="">
            <p>Если хотите получить ответ лично, введите свой e-mail.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Вопрос:</label> 
        <div class="controls">
            <textarea class="input-xlarge" name="review" rows="3"></textarea>
        </div>
    </div>  
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Отправить">
        </div>
    </div>
</form>-->
{% load pagination_tags %}
{% autopaginate questions 15 %}



<!-- faq -->
    <div id="faq" class="faq_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>FAQ</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- list -->
            <div class="row">
                <div class="span12">
                    {% load pagination_tags %}
                    {% autopaginate questions 15 %}
                    {% for question in questions %}
                    {% if question.answer %}
                    <div class="faq">
                        <div class="number">{{ forloop.counter }}</div>
                            <div class="question">
                                {{ question.question|safe }}
                            </div>
                            <div class="answer">
                                {{ question.answer|safe }}
                            </div>
                    </div>
                    {% endif %}
                    {% endfor %}                   
                </div>
            </div>
        </div>
    </div>

{% paginate %}