<div>
<p>Подписаться на рассылку</p>
<form method="POST" action="/subscribe/">
    {% csrf_token %}    
    <input type="text" class="default" style="float: none" name="name"  placeholder="Имя">
    <input type="text" class="default" style="float: none" name="email"  placeholder="Електронная почта">
    <input type="submit" class="btn btn-primary" style="float: none" value="Подписаться">
</form>
</div>