{% load cms_tags sekizai_tags %}
<div id="footer">
    <div class="container">
        <div class="row">
            {% placeholder last_blog_post or %} 
                {% show_uncached_placeholder "last_blog_post" "main" %}
                 {% endplaceholder %}
            <div class="span4 contact_us">
                {% placeholder contact_us_form or %} 
                {% show_uncached_placeholder "contact_us_form" "main" %}
                 {% endplaceholder %}
                
            </div>
        </div>
        <hr>
        <div class="row copyright">
            <div class="span5">
                <h3>Social</h3>
                <a href="#" class="social fb">
                    <i class="i_facebook"></i>
                </a>
                <a href="#" class="social tw">
                    <i class="i_twitter"></i>
                </a>
                <a href="#" class="social yt">
                    <i class="i_youtube"></i>
                </a>
            </div>
            <div class="span2 offset5 copy">
                <p>2012 - Measure Template</p>
            </div>
        </div>
    </div>
</div>