{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans 'Система управления проектами' %}">
    <meta name="author" content="{% trans 'Oleh Korkh' %}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The styles -->       
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->
    {% render_block "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/animate.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/external-pages.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
   
     <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
    $(document).ready(function(){
    $('.dropdown-toggle').dropdown();
    });
    });//]]>
    </script> 
  </head>
  <body>
{% cms_toolbar %}
<a href="#" class="scrolltop">
    <span>up</span>
</a>
{% block top_content%}{% include "top_block.html" %}{% endblock %}

{% block banner_content%}
{% include "banner_block.html" %}
{% endblock %}   
  <div class="hidden-phone hidden-tablet"></div>
      {% if messages %}
      {% for m in messages %}
      <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ m }}
      </div>
      {% endfor %}
      <script type="text/javascript">
        $('.msg-alert').delay(5000).hide(1);
      </script>
    {% endif %} 
{% block base_content%}{% endblock %}    

<!-- features -->
    <div id="features">
        <div class="container">
            {% placeholder "kratko_o_servise" %}
        </div>
    </div>


{% block pricing %}{% include "pricing_block.html" %}{% endblock %}    

{% block footer_content%}{% include "footer_block.html" %}{% endblock %}
{% render_block "js" %}
{% block finish %}{% endblock %}
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/theme.js"></script> 
</body></html>

