{% load menu_tags %}
{% for child in children %}
<li class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}{% if child.children %} dropdown{% endif %}">
    <a {% if child.children %} href="#"  class="dropdown-toggle" data-toggle="dropdown"{% else %}href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"{% endif %}>{{ child.get_menu_title }}  {% if child.children %}<b class="caret"></b>{% endif %} </a>
    {% if child.children %}
    <ul class="dropdown-menu">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% endif %}
</li>
{% endfor %}