    <!-- starts pricing -->
    <div id="pricing">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>
                    Pricing 
                    <small>
                        See all plan details here</small>
                </span>
                <hr class="right visible-desktop">
            </h2>

            <!-- pricing charts -->
            <div class="row">
                <div class="span4">
                    <div class="price_wrapper lite regular">
                        <div class="header">
                            <span>Lite</span>
                            <div class="price">
                                <span>$ 46</span>
                                В месяц
                            </div>
                        </div>
                        <div class="section">
                            <h3>Комфортная работа в 1С для небольшой команды</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_bookmark"></i>
                                    3 сотрудника одновременно
                                </li>
                                <li>
                                    <i class="i_bars"></i>
                                    1 база данных 1С
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Ежесуточный бекап
                                </li>
                            </ul>
                            <a href="/klientam/demo-dostup?people=3&db=1" class="btn btn-success btn-large">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper pro">
                        <div class="header">
                            <span>Replica</span>
                            <div class="price">
                                <span>$ 218</span>
                                В месяц
                            </div>
                        </div>
                        <div class="section">
                            <h3>Супернадежность 1С с постоянной репликацией БД на разных серверах</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_loading"></i>
                                    постоянная репликация данных!
                                </li>
                                <li>
                                    <i class="i_shuffle"></i>
                                    2 сервера БД 1С, 1 сервер windows
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    15 сотрудников одновременно
                                </li>
                                <li>
                                    <i class="i_bars"></i>
                                    5 доступных баз 1С
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Ежесуточный бекап
                                </li>
                            </ul>
                            <a href="/klientam/demo-dostup?people=15&db=5&replica=1" class="btn btn-success btn-large">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper standard regular">
                        <div class="header">
                            <span>Standard</span>
                            <div class="price">
                                <span>$ 99</span>
                                В месяц
                            </div>
                        </div>
                        <div class="section">
                            <h3>Удобное решение для небольшой компании.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_bookmark"></i>
                                    10 сотрудников одновременно
                                </li>
                                <li>
                                    <i class="i_bars"></i>
                                    3 базы данных 1С
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Ежесуточный бекап
                                </li>
                            </ul>
                            <a href="/klientam/demo-dostup?people=10&db=3" class="btn btn-success btn-large">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>