{% load menu_tags %}  
    <!-- begins navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
{#             <a class="brand scroller" data-section="body" href="/"> #}
            <a class="brand scroller" href="/">     
                <img src="/static/img/logo.png" alt="logo" />
            </a>
                <ul class="nav pull-right">
                    {% show_menu 0 100 100 100 "menu.html" %}  
                    <li> 
                    <a class="btn-header" href="#">Sign up</a>
                    </li>
                    <li><a class="btn-header" href="#">Sign in</a></li>
                </ul>
        </div>
      </div>
    </div>
    <!-- ends navbar -->